@font-face{
  font-family: 'ArgentCF';
  font-weight: 200;
  font-style: normal;
  src: url('~assets/fonts/ArgentCF-Thin.woff2'),
       url('~assets/fonts/ArgentCF-Thin.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 200;
  font-style: italic;
  src: url('~assets/fonts/ArgentCF-ThinItalic.woff2'),
       url('~assets/fonts/ArgentCF-ThinItalic.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 300;
  font-style: normal;
  src: url('~assets/fonts/ArgentCF-Light.woff2'),
       url('~assets/fonts/ArgentCF-Light.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 300;
  font-style: italic;
  src: url('~assets/fonts/ArgentCF-LightItalic.woff2'),
       url('~assets/fonts/ArgentCF-LightItalic.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: normal;
  font-style: normal;
  src: url('~assets/fonts/ArgentCF-Regular.woff2'),
       url('~assets/fonts/ArgentCF-Regular.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: normal;
  font-style: italic;
  src: url('~assets/fonts/ArgentCF-RegularItalic.woff2'),
       url('~assets/fonts/ArgentCF-RegularItalic.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 600;
  font-style: normal;
  src: url('~assets/fonts/ArgentCF-DemiBold.woff2'),
       url('~assets/fonts/ArgentCF-DemiBold.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 600;
  font-style: italic;
  src: url('~assets/fonts/ArgentCF-DemiBoldItalic.woff2'),
       url('~assets/fonts/ArgentCF-DemiBoldItalic.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 700;
  font-style: normal;
  src: url('~assets/fonts/ArgentCF-Bold.woff2'),
       url('~assets/fonts/ArgentCF-Bold.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 700;
  font-style: italic;
  src: url('~assets/fonts/ArgentCF-BoldItalic.woff2'),
       url('~assets/fonts/ArgentCF-BoldItalic.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 800;
  font-style: normal;
  src: url('~assets/fonts/ArgentCF-ExtraBold.woff2'),
       url('~assets/fonts/ArgentCF-ExtraBold.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 800;
  font-style: italic;
  src: url('~assets/fonts/ArgentCF-ExtraBoldItalic.woff2'),
       url('~assets/fonts/ArgentCF-ExtraBoldItalic.woff')
}

@font-face{
  font-family: 'ArgentCF';
  font-weight: 900;
  font-style: normal;
  src: url('~assets/fonts/ArgentCF-Super.woff2'),
       url('~assets/fonts/ArgentCF-Super.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 200;
  font-style: normal;
  src: url('~assets/fonts/CartographSansCF-Thin.woff2'),
       url('~assets/fonts/CartographSansCF-Thin.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 200;
  font-style: italic;
  src: url('~assets/fonts/CartographSansCF-ThinItalic.woff2'),
       url('~assets/fonts/CartographSansCF-ThinItalic.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 300;
  font-style: normal;
  src: url('~assets/fonts/CartographSansCF-Light.woff2'),
       url('~assets/fonts/CartographSansCF-Light.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 300;
  font-style: italic;
  src: url('~assets/fonts/CartographSansCF-LightItalic.woff2'),
       url('~assets/fonts/CartographSansCF-LightItalic.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: normal;
  font-style: normal;
  src: url('~assets/fonts/CartographSansCF-Regular.woff2'),
       url('~assets/fonts/CartographSansCF-Regular.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: normal;
  font-style: italic;
  src: url('~assets/fonts/CartographSansCF-RegularItalic.woff2'),
       url('~assets/fonts/CartographSansCF-RegularItalic.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 600;
  font-style: normal;
  src: url('~assets/fonts/CartographSansCF-DemiBold.woff2'),
       url('~assets/fonts/CartographSansCF-DemiBold.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 600;
  font-style: italic;
  src: url('~assets/fonts/CartographSansCF-DemiBoldItalic.woff2'),
       url('~assets/fonts/CartographSansCF-DemiBoldItalic.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 700;
  font-style: normal;
  src: url('~assets/fonts/CartographSansCF-Bold.woff2'),
       url('~assets/fonts/CartographSansCF-Bold.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 700;
  font-style: italic;
  src: url('~assets/fonts/CartographSansCF-BoldItalic.woff2'),
       url('~assets/fonts/CartographSansCF-BoldItalic.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 800;
  font-style: normal;
  src: url('~assets/fonts/CartographSansCF-ExtraBold.woff2'),
       url('~assets/fonts/CartographSansCF-ExtraBold.woff')
}

@font-face{
  font-family: 'CartographSansCF';
  font-weight: 800;
  font-style: italic;
  src: url('~assets/fonts/CartographSansCF-ExtraBoldItalic.woff2'),
       url('~assets/fonts/CartographSansCF-ExtraBoldItalic.woff')
}
